@import url("./reset.css"); 

body {
    place-items: center; 
    background-color: slategray; 
}

a {
    text-decoration: underline;
}

.flex-container {
    display: flex; 
    gap: 5px; 
}

.grid-container {
    text-align: center; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: .8fr .8fr; 
    width: 90%;
    gap: 5px; 
    place-items: center; 
    justify-items: start; 
}

#grid {
    display: none; 
}

#flex {
    display: none; 
}

img {
    border-radius: 8px; 
}

nav {
    width: 100%; 
    place-items: center; 
    border-bottom: 2px solid black;
}






@media  screen and (min-width: 768px) {
    .hide {
    display: none; 
}

    #flex, #grid {
        display: grid; 
    }

    
    
}


